In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [5]:
data=pd.read_csv("Churn_Modelling.csv")

In [6]:
data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [7]:
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [8]:
le=LabelEncoder()
data['Gender']=le.fit_transform(data['Gender'])

In [11]:
ohe=OneHotEncoder()
Geography_encoded=ohe.fit_transform(data[['Geography']])
Geography_encoded

<10000x3 sparse matrix of type '<class 'numpy.float64'>'
	with 10000 stored elements in Compressed Sparse Row format>

In [17]:
print(Geography_encoded.toarray())

[[1. 0. 0.]
 [0. 0. 1.]
 [1. 0. 0.]
 ...
 [1. 0. 0.]
 [0. 1. 0.]
 [1. 0. 0.]]

In [21]:
ohe.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [23]:
geodata=pd.DataFrame(Geography_encoded.toarray(), columns=ohe.get_feature_names_out(['Geography']))
geodata

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [37]:
data.drop(['Geography'],axis=1,inplace=True)

In [33]:
data=pd.concat([data,geodata],axis=1)

In [38]:
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [39]:
X=data.drop('EstimatedSalary',axis=1)
y=data['EstimatedSalary']

In [40]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

# Scale the features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [41]:
## Save the encoders and scaler
import pickle
with open('label_encoder_gender_reg.pkl','wb') as file:
    pickle.dump(le,file)

with open('one_hot_encoder_geo_reg.pkl','wb') as file:
    pickle.dump(ohe,file)

with open('scaler.pkl_reg','wb') as file:
    pickle.dump(scaler,file)

# ANN Regression Problem Statement

In [43]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [45]:
model=Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)  # Output layer for regression problem
])

In [46]:
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

WARNING:tensorflow:From c:\Users\chara\anaconda3\envs\nlpenv\lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 64)                832

 dense_4 (Dense)             (None, 32)                2080

 dense_5 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [47]:
## Set up early stopping
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=5,restore_best_weights=True)

In [48]:
## Training the moddel

history=model.fit(
    X_train,y_train,validation_data=(X_test,y_test),
    epochs=100,
    callbacks=[early_stopping_callback]
)

Epoch 1/100
WARNING:tensorflow:From c:\Users\chara\anaconda3\envs\nlpenv\lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\chara\anaconda3\envs\nlpenv\lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 2s 5ms/step - loss: 100385.2500 - mae: 100385.2500 - val_loss: 98536.9062 - val_mae: 98536.9062
Epoch 2/100
250/250 [==============================] - 1s 2ms/step - loss: 99672.8125 - mae: 99672.8125 - val_loss: 97083.1484 - val_mae: 97083.1484
Epoch 3/100
250/250 [==============================] - 1s 2ms/step - loss: 97129.8672 - mae: 97129.8672 - val_loss: 93342.5547 - val_mae: 93342.5547
Epoch 4/100
250/250 [==============================] - 1s 2ms/step - loss: 92098.4922 - mae: 92098.4922 - val_loss: 87090.1719 - val_mae: 87090.1719
Epoch 5/100
250/250 [==============================] - 1s 2ms/step - loss: 84725.1406 - mae: 84725.1406 - val_loss: 78922.4531 - val_mae: 78922.4531
Epoch 6/100
250/250 [==============================] - 1s 2ms/step - loss: 75933.3281 - mae: 75933.3281 - val_loss: 70164.0000 - val_mae: 70164.0000
Epoch 7/100
250/250 [==============================] - 1s 2ms/step - loss: 67229.7734 - mae: 67229.7734 - val_loss: 62372.6328 - val_mae: 62372.6328
Epoch 8/100
250/250 [==============================] - 1s 2ms/step - loss: 60036.4297 - mae: 60036.4297 - val_loss: 56491.4648 - val_mae: 56491.4648
Epoch 9/100
250/250 [==============================] - 1s 2ms/step - loss: 55165.1406 - mae: 55165.1406 - val_loss: 53079.4375 - val_mae: 53079.4375
Epoch 10/100
250/250 [==============================] - 1s 3ms/step - loss: 52448.3789 - mae: 52448.3789 - val_loss: 51489.6484 - val_mae: 51489.6484
Epoch 11/100
250/250 [==============================] - 1s 2ms/step - loss: 51186.3320 - mae: 51186.3320 - val_loss: 50923.1562 - val_mae: 50923.1562
Epoch 12/100
250/250 [==============================] - 1s 2ms/step - loss: 50673.9492 - mae: 50673.9492 - val_loss: 50761.1289 - val_mae: 50761.1289
Epoch 13/100
250/250 [==============================] - 1s 3ms/step - loss: 50472.5391 - mae: 50472.5391 - val_loss: 50685.4258 - val_mae: 50685.4258
Epoch 14/100
250/250 [==============================] - 1s 3ms/step - loss: 50359.0469 - mae: 50359.0469 - val_loss: 50641.3320 - val_mae: 50641.3320
Epoch 15/100
250/250 [==============================] - 1s 3ms/step - loss: 50277.7109 - mae: 50277.7109 - val_loss: 50615.4883 - val_mae: 50615.4883
Epoch 16/100
250/250 [==============================] - 1s 3ms/step - loss: 50216.0039 - mae: 50216.0039 - val_loss: 50585.1719 - val_mae: 50585.1719
Epoch 17/100
250/250 [==============================] - 1s 2ms/step - loss: 50161.0664 - mae: 50161.0664 - val_loss: 50555.4102 - val_mae: 50555.4102
Epoch 18/100
250/250 [==============================] - 1s 2ms/step - loss: 50115.7461 - mae: 50115.7461 - val_loss: 50546.5312 - val_mae: 50546.5312
Epoch 19/100
250/250 [==============================] - 1s 3ms/step - loss: 50073.2305 - mae: 50073.2305 - val_loss: 50510.4609 - val_mae: 50510.4609
Epoch 20/100
250/250 [==============================] - 1s 3ms/step - loss: 50035.0039 - mae: 50035.0039 - val_loss: 50493.0898 - val_mae: 50493.0898
Epoch 21/100
250/250 [==============================] - 1s 2ms/step - loss: 50001.9648 - mae: 50001.9648 - val_loss: 50473.6992 - val_mae: 50473.6992
Epoch 22/100
250/250 [==============================] - 1s 2ms/step - loss: 49969.8711 - mae: 49969.8711 - val_loss: 50467.3281 - val_mae: 50467.3281
Epoch 23/100
250/250 [==============================] - 1s 2ms/step - loss: 49945.5117 - mae: 49945.5117 - val_loss: 50447.6602 - val_mae: 50447.6602
Epoch 24/100
250/250 [==============================] - 1s 2ms/step - loss: 49919.1328 - mae: 49919.1328 - val_loss: 50432.1836 - val_mae: 50432.1836
Epoch 25/100
250/250 [==============================] - 1s 3ms/step - loss: 49895.0508 - mae: 49895.0508 - val_loss: 50417.3047 - val_mae: 50417.3047
Epoch 26/100
250/250 [==============================] - 1s 3ms/step - loss: 49873.6602 - mae: 49873.6602 - val_loss: 50415.6172 - val_mae: 50415.6172
Epoch 27/100
250/250 [==============================] - 1s 3ms/step - loss: 49855.5938 - mae: 49855.5938 - val_loss: 50397.1758 - val_mae: 50397.1758
Epoch 28/100
250/250 [==============================] - 1s 3ms/step - loss: 49832.1953 - mae: 49832.1953 - val_loss: 50385.3047 - val_mae: 50385.3047
Epoch 29/100
250/250 [==============================] - 1s 3ms/step - loss: 49814.5312 - mae: 49814.5312 - val_loss: 50385.2383 - val_mae: 50385.2383
Epoch 30/100
250/250 [==============================] - 1s 3ms/step - loss: 49796.6445 - mae: 49796.6445 - val_loss: 50381.7656 - val_mae: 50381.7656
Epoch 31/100
250/250 [==============================] - 1s 3ms/step - loss: 49778.9570 - mae: 49778.9570 - val_loss: 50376.2891 - val_mae: 50376.2891
Epoch 32/100
250/250 [==============================] - 1s 3ms/step - loss: 49764.9453 - mae: 49764.9453 - val_loss: 50369.8750 - val_mae: 50369.8750
Epoch 33/100
250/250 [==============================] - 1s 3ms/step - loss: 49750.1758 - mae: 49750.1758 - val_loss: 50356.8359 - val_mae: 50356.8359
Epoch 34/100
250/250 [==============================] - 1s 3ms/step - loss: 49733.2891 - mae: 49733.2891 - val_loss: 50352.9102 - val_mae: 50352.9102
Epoch 35/100
250/250 [==============================] - 1s 3ms/step - loss: 49718.0273 - mae: 49718.0273 - val_loss: 50350.8633 - val_mae: 50350.8633
Epoch 36/100
250/250 [==============================] - 1s 3ms/step - loss: 49702.9922 - mae: 49702.9922 - val_loss: 50356.4492 - val_mae: 50356.4492
Epoch 37/100
250/250 [==============================] - 1s 3ms/step - loss: 49695.0430 - mae: 49695.0430 - val_loss: 50348.2891 - val_mae: 50348.2891
Epoch 38/100
250/250 [==============================] - 1s 3ms/step - loss: 49679.7969 - mae: 49679.7969 - val_loss: 50341.2109 - val_mae: 50341.2109
Epoch 39/100
250/250 [==============================] - 1s 2ms/step - loss: 49669.8750 - mae: 49669.8750 - val_loss: 50348.9883 - val_mae: 50348.9883
Epoch 40/100
250/250 [==============================] - 1s 3ms/step - loss: 49659.8516 - mae: 49659.8516 - val_loss: 50350.3359 - val_mae: 50350.3359
Epoch 41/100
250/250 [==============================] - 1s 3ms/step - loss: 49648.8203 - mae: 49648.8203 - val_loss: 50341.8047 - val_mae: 50341.8047
Epoch 42/100
250/250 [==============================] - 1s 3ms/step - loss: 49635.3633 - mae: 49635.3633 - val_loss: 50331.6484 - val_mae: 50331.6484
Epoch 43/100
250/250 [==============================] - 1s 3ms/step - loss: 49627.7383 - mae: 49627.7383 - val_loss: 50347.0508 - val_mae: 50347.0508
Epoch 44/100
250/250 [==============================] - 1s 2ms/step - loss: 49617.8828 - mae: 49617.8828 - val_loss: 50339.1523 - val_mae: 50339.1523
Epoch 45/100
250/250 [==============================] - 1s 3ms/step - loss: 49608.4414 - mae: 49608.4414 - val_loss: 50337.6445 - val_mae: 50337.6445
Epoch 46/100
250/250 [==============================] - 1s 3ms/step - loss: 49603.3359 - mae: 49603.3359 - val_loss: 50334.1836 - val_mae: 50334.1836
Epoch 47/100
250/250 [==============================] - 1s 3ms/step - loss: 49592.6953 - mae: 49592.6953 - val_loss: 50335.1328 - val_mae: 50335.1328

In [49]:
#Evaluate the model on test data
test_loss, test_mae=model.evaluate(X_test,y_test)

print(f'Teat Mae: {test_mae}')

63/63 [==============================] - 0s 3ms/step - loss: 50331.6484 - mae: 50331.6484
Teat Mae: 50331.6484375

In [50]:
model.save('regression_model.h5')

c:\Users\chara\anaconda3\envs\nlpenv\lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(